body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #ECF2F8;
}

main {
  padding: 24px;
}

ul {
  display: grid;
  gap: 24px;
}

.post-container {
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  border-radius: 8px;
  padding: 32px;
}

.perfil-container {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 18px;
  color: #fff;
}

.perfil-container img {
  border-radius: 50%;
  width: 28px;
}

.name {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}

.verified {
  font-size: 11px;
  opacity: 0.5;
}

.post-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #fff;
}

.post-text {
  color: #CFCFCF;
  font-size: 13px;
  line-height: 18px;
  opacity: 0.7;
}

li:first-child .post-container {
  background-color: #733FC8;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 24px);
}

li:first-child .perfil-container img,
li:nth-child(4) .perfil-container img {
  border: 2px solid #A775F1;
}

li:nth-child(2) .post-container {
  background-color: #48556A;
}

li:nth-child(2) .post-text {
  color: #fff;
}

li:nth-child(3) .post-container,
li:nth-child(5) .post-container {
  background-color: #fff;
}

li:nth-child(3) .perfil-container div,
li:nth-child(5) .perfil-container div {
  color: #48556A;
}



li:nth-child(3) .post-text,
li:nth-child(3) .post-title,
li:nth-child(5) .post-text,
li:nth-child(5) .post-title {
  color: #48556A;
}

li:nth-child(4) .post-container {
  background-color: #19202D;
}

li:nth-child(4) .post-title {
  color: #ECF2F8;
}

li:nth-child(4) .post-text {
  color: #fff;
}

@media screen and (min-width: 1024px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    column-gap: 30px;
    row-gap: 24px;
  }

  li:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  li:nth-child(3) {
    grid-row: 2/3;
  }

  li:nth-child(4) {
    grid-column: 2/4;
  }

  li:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/3;
  }

  li:nth-child(5) .post-container {
    height: 100%;
  }


}